<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzk.mapper.RentMapper">

    <insert id="save" parameterType="rent">
        insert into rent values
            (#{id},#{username},#{location},#{expectedPrice},#{expectedInformation},#{time})
    </insert>

    <select id="findAll" resultType="rent">
        select * from rent;
    </select>

</mapper>