<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzk.mapper.UserMapper">

    <insert id="save" parameterType="user">
        insert into user values
        (#{username},#{password},#{name},#{id},#{sex},#{age},#{phone},#{auth})
    </insert>

    <select id="findAll" resultType="user">
        select * from user
    </select>

    <select id="ifExist" resultType="user">
        select * from user where username=#{username} and password=#{password};
    </select>

    <select id="ifUser" resultType="user">
        select * from user where username=#{username};
    </select>

    <update id="changeAuth">
        update user set auth=#{auth} where username=#{username}
    </update>

    <update id="change" parameterType="user">
        update user set password=#{password},name=#{name},id=#{id},sex=#{sex},age=#{age},phone=#{phone}
            where username=#{username}
    </update>

</mapper>